[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/TFT_eSPI"]
	path = components/TFT_eSPI
	url = https://github.com/icyqwq/TFT_eSPI.git
